{% load crispy_forms_filters %}
{% load static %}
<!DOCTYPE HTML>
<head>
    <title>
        Editing
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <center>
        <h1 style="padding-top: 25px; ">
            Edit
        </h1>
    </center>
    <form method="post" action="" class="inline-form" style="background-color: white;opacity: 69%">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="submit">
    </form>
<center>
     <center>
        <h1 style="padding-top: 25px; ">
            you sure you want to cancel booking
        </h1>
    </center>
    <form method="post" action="/delete/{{ booking.id }}/" class="inline-form" style="background-color: white;opacity: 69%">
        {% csrf_token %}
        <a href="/lib">Cancel</a>

        <input type="submit" name="Conform" >
    </form>
    <div>
    <a href="/logout">
    <button class="btn btn-outline-info">Log Out</button>
    </a>
    </div>
</center>
</body>