{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>
           Log In
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}">
    </head>
    <body>
        <center>

        <div class="content-section" style="background-color:#EEEEEE;opacity: 69% " >
        <form method="POST" style="opacity: 100%; background-color: #334257;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Don't Have An Account? <a class="ml-2" href="/register">Sign Up</a>
            </small>
        </div>
    </div>
        <!--
        <div id="REQUEST">
            <form id="login_form"method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                <button type="submit" >Submit</button>
                </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class = "alert alert-{{ message.tags }}">
                       {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            -->
            <!---
            <form id="login_form" method="post">
                {% csrf_token %}
                <label for="roles">Choose your role:</label>
                <select id="roles" name="roles">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <p>Username: <input type="text" id="username"></p>
                <p>E-mail: <input type="email" id="email"></p>
                <p>Password: <input type="password" id="pwd1"></p>
                <p>Confirm Password: <input type="password" id="pwd2"></p>
                <button type="submit" onclick="checkForm()" >Submit</button>

            </form>
            -->
            <a style="white-space: nowrap" href="http://127.0.0.1:8000/"><button>Go Back</button> </a>
        </div>
        </center>
        <script src="{% static 'Login/app.js' %}"></script>
    </body>
</html>

<!--
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}">
    </head>
    <body>
        <center>
        <div id="REQUEST">
            <form>
                {% csrf_token %}
                <p>Username: <input type="text" id="username"></p>
                <p>Password: <input type="password" id="pwd1"></p>
                <p>Confirm Password: <input type="password" id="pwd2"></p>
                <button type="submit" onclick="checkForm()"> Submit </button>
            </form>

            </form>
            <a style="white-space: nowrap" href="http://127.0.0.1:8000/"><button>Go Back</button> </a>
        </div>
        </center>
        <script src="{% static 'Login/app.js' %}"></script>
    </body>
</html>
-->