{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Home Page
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}">

    <body>
        <center>
            <div>
                Welcome to the Library online system
                <br>
                If you're a new user choose Register.
                <br>
                an Already existing user? why dont you login.



            </div>
        <div id="REQUEST">

            <a href="/login" style="text-decoration: none">
                <button id="login" >Login
                    <span class="invisible">
                    Login into your account
                    </span>
                </button>
            </a>

            <a href="/register" style="text-decoration: none">
                <button id="Reg" >Register
                    <span class="invisible">
                        Register a new account
                    </span>
                </button>
            </a>
        </div>
        </center>

        <script src="{% static 'Login/ajax.js' %}"></script>
    </body>
</html>